/*  main */
body {
  /*  'display: grid' needed to initiate 'css grid'; 'body' is now 'grid-container' */
  display: grid;
  min-height: 100vh;
  min-width: 100%;
  grid-template-rows: 1fr 90px;
  grid-template-columns: 1fr;
  grid-template-areas: "content"
                       "footer";
}

aside {
  grid-area: sidebar;
  background: #cec054;
}

a i {
  color: #4571a8;
}

aside button {
  border: 1px solid #4571a8;
  background: none;
}

main {
  grid-area: content;
  background: #6e9ed8;
}

footer {
  grid-area: footer;
  background: #4571a8;
}

img {
  max-width: 100%;
  border: 5px solid #4571a8;
  /* margin: 10px; */
}

.main_header {
  display: grid;
  color: rgba(255,255,255,0.9);
  grid-template-areas: "img"
                        "dtls";
}

.main_header > .img {
  grid-area: img;
}

.main_header > .details {
  grid-area: dtls;
  margin-top: 55px;
  margin-left: 10%;
}

.main_body {
  /* margin: 10px; */
  border: 5px solid #4571a8;
}

.main_body > div {
  display: flex;
  padding-left: 5px;
  background: #a9caf2;
}

.main_body > div:nth-child(even) {
  background: #6e9ed8;
}

.main_body > div p {
  flex: 0 0 25%;
}

/* mobile screen */
@media screen and (max-width: 600px) {
  .sm-screen-hide {
    display: none;
  }
  .main_header {
    justify-items: center;
  }
  .main_header > .details {
    text-align: center;
    margin-top: 10px;
  }
  .main_body {
    margin: 10px auto;
    margin-bottom: 0px;
  }
  .img > img {
    width: 500px;
  }
  aside a {
    display: none;
  }
  aside button {
    display: none;
  }

}

/*  large screen  */
@media only screen and (min-width: 600px) {
  body {
    grid-template-columns: 40px 1fr;
    grid-template-areas: "sidebar content"
                         "footer footer";
  }
  .main_header {
    grid-template-columns: 250px 1fr;
    grid-template-areas: "img dtls";
  }
  aside {
    display: grid;
    justify-items: center;
    align-items: center;
  }
  aside i {
    display: block;
  }
}
